  body {
    background-color: white;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    width: 99%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    margin-bottom: 0px;
  }

  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: rgba(0, 0, 0, .65);
    text-align: center;
    padding: 8px 14px;
    background-color: whitesmoke;
    text-decoration: none;
    bottom: 0;
  }

  a:hover {
    text-decoration: underline;
  }

  .imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }

  button {
    color: rgba(0, 0, 0, .65);
    background-color: whitesmoke;
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    border-radius: 5%;
  }