  body {
    background-color: white;
    font-family: Arial, sans-serif;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    width: 99%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    margin-bottom: 0px;
  }

  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: rgba(0, 0, 0, .65);
    text-align: center;
    padding: 14px 14px;
    background-color: whitesmoke;
    text-decoration: none;
    bottom: 0;
    font-size: 14px;
  }

  a:hover {
    text-decoration: underline;
  }

  .imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }

  button {
    color: rgba(0, 0, 0, .65);
    background-color: whitesmoke;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    border-radius: 5%;
    margin-top: 30px;
    left: 50%;
  }

  input {
    display: block;
    width: 550px;
    height: 45px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: solid 1px lightgray;
  }

  input:hover{
    box-shadow: 0 0 6px rgba(126, 126, 126, 0.25);
  }

  input:focus{
    outline: none;
  }


  