  body {
    background-color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    margin-bottom: 0px;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(0, 0, 0, .65);
    text-align: center;
    padding: 8px 14px;
    background-color: whitesmoke;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }